<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlondeGarden || Admin</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="https://images.vexels.com/media/users/3/200977/isolated/lists/da7cf605cded0d64979f81a813723465-mano-dando-icono-de-planta.png">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="https://images.vexels.com/media/users/3/200977/isolated/lists/da7cf605cded0d64979f81a813723465-mano-dando-icono-de-planta.png" alt="Icono de planta">
        BlondeGarden
      </a>
      
    </div>
    <a href="/logout" style="color:white; margin-right: 20px;">Cerrar sesión</a>
  </nav>

</head>
<style>
   .navbar-brand {
      display: flex;
      align-items: center;
    }

    .navbar-brand img {
      height: 2em; /* Ajusta la altura de la imagen al tamaño del texto */
      margin-right: 1px; /* Espacio entre la imagen y el texto */
    }
html{
height:100%;
}
main{
width: 80%;
height: 100%;
margin:0 auto;
background: aliceblue;
}
.lateral{
box-sizing: x(8%, 300px);
width: max(8%, 300px);
display: inline-block;
position: absolute;
}
.principal{
margin-left: max(10%, 330px);
height: 200%;
padding: 0 5px;
text-align: justify;
background:  #e4ebf5;
}
/*Hasta aquí ya tenemos un menu lateral fijo,
ahora viene ponerlo bonito*/

.lateral header{
font-weight: bold;
font-size: 1.5rem;
text-align: center;
}
.lateral ul{
list-style:none;
padding-left:0;
margin-top:0;
}
.lateral ul li{
display:block;
position: relative;
padding: 8px 10px;
margin-left:0;

}
.lateral ul li a{
color: black;
text-decoration:none; 
}
.lateral ul li a:after{
content: ' ';
position:absolute;
width: 100%;
height: 100%;
top:0;
left:0;
}
.lateral ul li:hover, .lateral ul li:hover a{
background: #bed1e6;
color: black;
}
.div-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.table-striped tbody tr:nth-of-type(odd) {
      background-color: var(--bs-primary); /* Color para filas impares */
    }

    .table-striped tbody tr:nth-of-type(even) {
      background-color: var(--bs-secondary); /* Color para filas pares */
    }
    a {
            text-decoration: none;
        }
        .shadow-border {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  </style>
<body>
  <div class="lateral">
    <div class="div-centrado">
      <h4 style="text-align: center;">Categorias  (<%= categorias.length %>)</h4>
    </div>
    <table class="table table-hover"> <tr> <th>Id</th> <th>Nombre</th> </tr> <tbody>
        <% categorias.forEach(categoria => { %>
          <tr>
      <td><%= categoria.id %></td>
      <td><%= categoria.nombre %></td>
       <td class="d-flex gap-2" >
                      <a href="/admin/categorias/update/<%= categoria.id %>" class="btn btn-warning btn-sm" >
                        Modificar
                      </a>
                      <a href="/admin/categorias/delete/<%= categoria.id %>" class="btn btn-danger btn-sm">
                        Eliminar
                      </a>
                    </td>
      <% }); %>
      </tbody>
    </table>
    <div class="div-centrado">
      <a class="btn btn-success btn-sm" href="/admin/categorias/crear">Crear Categoria</a>
    </div>
  </div>

  <div class="principal">
    <table class="table table-hover table-striped">
      <thead>
        <h2 style="text-align: center;">Productos (<%= productos.length %>)</h2>
        <div class="div-centrado">
          <a class="btn btn-primary" href="/admin/productos/crear">Añadir</a>
        </div>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Código</th>
          <th scope="col">Precio</th>
          <th scope="col">Descripción</th>
          <th scope="col">Marca</th>
          <th scope="col">Uso</th>
          <th scope="col">Id. Categoria</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach((producto, index) => { %>
        <tr class="<%= index % 2 === 0 ? 'primary' : 'secondary' %>">
          <td><%= producto.id %></td>
          <td><%= producto.nombre %></td>
          <td><%= producto.codigo %></td>
          <td><%= producto.precio %></td>
          <td><%= producto.descripcion %></td>
          <td><%= producto.marca %></td>
          <td><%= producto.uso %></td>
          <td><%= producto.categoria_id %></td>
          <td style="vertical-align: middle;">
            <a href="/admin/productos/update/<%= producto.id %>" class="btn btn-warning" style="margin-top: 5px;">Modificar</a>
            <a href="/admin/productos/delete/<%= producto.id %>" class="btn btn-danger" style="margin-top: 5px;">Eliminar</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <table class="table table-hover table-striped">
      <thead>
        <div></div>
        <h2 style="text-align: center; margin-top: 10px;">Imágenes  (<%= imagenes.length %>)</h2>
        <div class="div-centrado">
          <a class="btn btn-primary" href="/admin/imagenes/crear">Añadir</a>
        </div>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">URL</th>
          <th scope="col">Destacado</th>
          <th scope="col">Id.Producto</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% imagenes.forEach((imagen, index) => { %>
        <tr class="<%= index % 2 === 0 ? 'primary' : 'secondary' %>">
          <td><%= imagen.id %></td>
          <td><img src="<%= imagen.url %>" style="max-height: 200px; max-width: 200px;" class="shadow-border"></td>
          <td style="vertical-align: middle;"><%= imagen.destacado %></td>
          <td style="vertical-align: middle;"><%= imagen.producto_id %></td>
          <td style="vertical-align: middle;">
            <a href="/admin/imagenes/update/<%= imagen.id %>" class="btn btn-warning">Modificar</a>
          </td>
          <td style="vertical-align: middle;">
            <a href="/admin/imagenes/delete/<%= imagen.id %>" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
</html>